---
layout: primary
---

<div class="masthead">
    <div class="frow centered">
        <img src="/assets/img/masthead2.png" />
    </div>
</div>

<div>
    <div class="intro_content inner_wrapper">
        <div class="frow justify-between">
            <div class="intro_item">
                <div class="intro_title">
                    Greenmount West Community Center is a community art space that’s free to the public.
                </div>
                <div class="intro_text">
                    Greenmount West Community Center is centrally located in Baltimore, MD — providing resources + programming to the community’s residents.  <a href="/contact/" class="volunteer_link">Volunteer&nbsp;today!</a>
                </div>
            </div>
            <div class="highlight_content inner_wrapper">
                <div class="highlight_short">
                    <div class="highlight_short_title">
                        Hours of Operation
                    </div>
                    <div class="highlight_short_content">
                        <div class="icon_copper">
                            <div class="icon_copper_title">
                                Office Hours
                            </div>
                            <div class="icon_copper_img"><img src="/assets/img/icon_clock.png"  />
                            </div>
                            <div class="icon_copper_text">
                                Monday, Wednesday, Thursday <span class="white_wrap">10 AM - 1 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="highlight_short_content">
                        <div class="icon_copper">
                            <div class="icon_copper_title">
                                Program Hours
                            </div>
                            <div class="icon_copper_img"><img src="/assets/img/icon_clock.png"  />
                            </div>
                            <div class="icon_copper_text">
                                <span class="white_wrap">Monday, Tuesday, Thursday</span> <span class="white_wrap">3 PM - 6 PM</span>
                                <span class="white_wrap">Wednesday, 10 AM - 6 PM</span>
                                <span class="white_wrap">Saturday 10 AM - 1 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="highlight_short_title">
                        Location
                    </div>
                    <div class="highlight_short_content">
                        <div class="icon_copper">
                            <div class="icon_copper_img"><img src="/assets/img/icon_location.png"  />
                            </div>
                            <div class="icon_copper_text">
                                1600 Guilford Avenue
                                Baltimore, MD 21202
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% include bronzey.html %}

    {% include featured_content.html %}

    {% include sponsors.html %}
</div>
