$on-small           : 400px;
$on-palm            : 500px;
$on-tablet          : 768px;
$on-laptop          : 992px;
$on-desktop         : 1200px;
$on-widescreen      : 1366px;
$on-tv              : 1650px;
$on-tv-1900         : 1900px;

// Media Query Mixins

@mixin small {
  @media screen and (min-width: #{$on-small}) {
    @content;
  }
}

@mixin palm {
  @media screen and (min-width: #{$on-palm}) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: #{$on-tablet}) {
    @content;
  }
}

@mixin laptop {
  @media screen and (min-width: #{$on-laptop}) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: #{$on-desktop}) {
    @content;
  }
}

@mixin widescreen {
  @media screen and (min-width: #{$on-widescreen}) {
    @content;
  }
}

@mixin tv {
  @media screen and (min-width: #{$on-tv}) {
    @content;
  }
}

@mixin tv-1650 {
  @media screen and (min-width: #{$on-tv-1650}) {
    @content;
  }
}

@mixin tv-1920 {
  @media screen and (min-width: #{$on-tv-1920}) {
    @content;
  }
}
