@import "variables";

// Hover for Links
%hover {
    // color: $orange;
    background: $bluegreen;
    border-color: $bluegreen;
    transition: 0.5s;
}

%featured_hover {
    background: $orange;
    border-color: $orange;
    transition: 0.5s;
}
%highlights_hover {
    color: $orange;
    background: transparent;
    border-color: $orange;
}

// Background Properties
%bg_props {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Color Overlay for Images
@mixin color_overlay($color, $opacity) {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba($color,$opacity);
}
