@import "variables";

// Hover for Links
%hover {
    // color: $orange;
    background: $bluegreen;
    border-color: $bluegreen;
    transition: 0.5s;
}
%highlights_hover {
    color: $bluegreen;
    background: transparent;
    border-color: $bluegreen;
}
%underline_hover {
    border-bottom: 3px solid;
    padding-bottom: 2px;
}

// Background Properties
%bg_props {
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

// Texture Background
%texture_background {
    background-position: center center;
    background-repeat: repeat;
    background-size: auto;
    background-image: url('/assets/img/texture_background.jpg');
}

// Color Overlay for Images
@mixin color_overlay($color, $opacity) {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    background-color: rgba($color,$opacity);
    // background: linear-gradient(#47E7CE, #9198e5);
    // opacity: 0.4;
}
@mixin color_overlay_gradient($color1, $color2) {
    position: absolute;
    content:" ";
    top:0;
    left:0;
    width:100%;
    height:100%;
    display: block;
    z-index:0;
    // background-color: rgba($color,$opacity);
    background: linear-gradient(#47E7CE, #9198e5);
    opacity: 0.4;
}
@mixin mx_animated($duration, $delay, $loop) {
    -webkit-animation-duration:$duration;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count:$loop;
}

// CTA
