// Fonts
$font-1: 'Muli', sans-serif;
$font-2: 'Karla', sans-serif;

// Weights
$font-bold: 700;
$muli-black: 900;

// Colors
$blue: #1250ed;
$bluegreen: #47E7CE;
$black: #070707;
$grey: #878585;
$lightgrey: #DCDCDC;
$red: #c4385f;
$yellow: #CDB028;
$white: #f7f7f7;
