// Fonts
$font-1: 'Muli', sans-serif;
$font-2: 'Karla', sans-serif;

// Weights
$font-bold: 700;
$muli-black: 900;

// Colors
$bluegreen: #47E7CE;
$darkbluegreen: #1CBBA2;
$pink: #FA879E;
$white: #f7f7f7;
$black: #070707;
$purple: #9198e5;
