// CTAs
.brand_cta_v2 {
	text-decoration: none;
	width: fit-content;
	display: block;

	div {
		border: 3px solid;
		color: $black;
		font-weight: bold;
		padding: 3px 10px;
		text-align: center;
		text-decoration: none;
		width: fit-content;
		cursor: pointer;

		@include tablet {
			padding: 7px 25px;
			font-size: 18px;
		}

		&.featured_cta {
			color: $white;

			&:hover {
				@extend %hover;
			}
		}

		&.highlights_cta {
			color: $black;

			&:hover {
				@extend %highlights_hover;
			}
		}
		&.blue_cta {
			color: $bluegreen;

			&:hover {
				color: $black;
			    background: $bluegreen;
			    border-color: $bluegreen;
			}
		}
		&.nonprofit_btn {
			margin: auto;
			text-transform: uppercase;

			@include tablet {
				margin: 0;
			}
			@include desktop {
				font-size: 12px;
				padding: 3px 5px;
				border: 1px solid $bluegreen;
				background: $bluegreen;
			}
			&:hover {
				background: $black;
				color: $white;
				border-color: $black;
			}
		}
		&.back_to_highlights {
			font-size: 14px;
			padding: 3px 10px;
			background: $black;
			color: $white;
			letter-spacing: 0.2px;

			&:hover {
				background: $bluegreen;
				border-color: $bluegreen;
				color: $black;
			}
		}
		&.uppercase {
			text-transform: uppercase;
		}

		&:hover {
			@extend %hover;
		}
	}
}
.donate_btn {
	color: $black;
	width: fit-content;
	display: block;
	margin: auto;

	// @include tablet {
	// 	margin:0;
	// }

	div {
		text-transform: uppercase;
		font-family: $font-1;
		font-weight: $muli-black;
		font-size: 14px;
		letter-spacing: 1.1px;
		border: 2px solid;
		padding: 3px 10px;

		&:hover {
			background: $black;
			color: $white;
			border-color: $black;
			transition: 0.5s;
		}
	}
}
.donate_group_btn {
	color: $black;
	width: fit-content;
	display: block;
	margin: auto;

	div {
		text-transform: uppercase;
		font-family: $font-1;
		font-weight: $muli-black;
		font-size: 14px;
		letter-spacing: 1.1px;
		border: 3px solid;
		padding: 10px 10px;
		width: 130px;

		@include palm {
			width: 170px;
			padding: 12px 10px;
		}

		@include laptop  {
			font-size: 18px;
			padding: 12px 10px;
			width: 225px;
		}

		&:hover {
			background: $black;
			color: $white;
			border-color: $black;
			transition: 0.5s;
		}
	}
}
