body.noScroll { /* ...or body.dialogShowing */
	overflow: hidden;
}

// Grid
.home_grid {
	margin: 0 10px;

	@include small {
		margin: 0 25px;
	}

	@include tablet {
		margin: auto;
		max-width: 800px;
		width:80%;
	}

	@include laptop {
		max-width: 950px;
	}

	@include tv {
		max-width: 1200px;
	}
}
.discover_grid {
    position: relative;
    @include tablet {
        max-width: 700px;
        margin: auto;
    }
    @include laptop {
        max-width: 950px;
    }
    @include desktop {
        max-width: 1150px;
    }
    @include widescreen {
        max-width: 1280px;
    }
    @include tv {
        max-width: 1500px;
    }
}
.outer_wrapper {
	position: relative;
    padding: 15px;

	@include laptop {
		padding: 35px 35px 0;
	}
	@include desktop {
		padding: 20px 35px 0;
	}
}
.single_template_outer_wrapper {
	position: relative;
	padding: 15px;
	@extend %clearfix;
}

// Misc
.bold {
	font-weight: 700;
}
.vertical-align {
	align-items: start !important;
}
.margin_center {
	margin: auto;
}
