<footer class="site_footer">
    <div class="footer_grid">
        <div class="frow justify-between">

            <div class="footer_logo">
                <a href="/">
                    <div class="footer_logo_img"></div>
                </a>
            </div>
            <div class="footer_all">
                <div class="frow justify-between">
                    <div class="footer_column left">
                        <div class="frow justify-between">
                            <div class="footer_content left">
                                <div class="footer_content_title">
                                    Greenmount West Community Center
                                </div>
                                <div class="footer_content_subtitle">
                                    1634 Guilford Avenue<br />
                                    Baltimore, MD 21202<br />
                                    <span>
                                        (entrance on 200 block of East Lanvale Street)
                                    </span>
                                </div>
                            </div>
                            <div class="footer_content right">
                                <div class="footer_content_section">
                                    <div class="footer_content_single">
                                        <div class="footer_content_header">
                                            Program Hours
                                        </div>
                                        <div class="footer_content_group">
                                            <span class="icon">
                                                <img src="/assets/img/icon_clock.png" />
                                            </span>
                                            <div class="footer_content_meta">
                                                <ul>
                                                    <li>
                                                        Monday, Tuesday, Thursday,<br /> 11 AM - 6 PM
                                                    </li>
                                                    <li>
                                                        Wednesday, 1 PM - 6 PM
                                                    </li>
                                                    <li>
                                                        Saturday, 9 AM - 1 PM
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="footer_content_single">
                                        <div class="footer_content_header">
                                            Phone
                                        </div>
                                        <div class="footer_content_group">
                                            <span class="icon">
                                                <img src="/assets/img/icon_phone.png" />
                                            </span>
                                            <div class="footer_content_meta">
                                                <ul>
                                                    <li>
                                                        (667) 212 - 5286
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="footer_column right">
                        <div class="frow justify-between">
                            <div class="links_group">
                                <div class="footer_alpha_title">
                                    gwcc links
                                </div>

                                <div class="frow justify-start">
                                    <ul class="footer_menu">
                                        <li>
                                            <a href="{{ site.baseurl }}/discover">Discover</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.baseurl }}/programs">Programs</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.baseurl }}/community">Community</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.baseurl }}/highlights">Highlights</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.baseurl }}/calendar">Calendar</a>
                                        </li>

                                    </ul>
                                    <ul class="footer_menu">
                                        <li>
                                            <a href="{{ site.baseurl }}/history">History</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.baseurl }}/people/staff">People</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.baseurl }}/policy">Policy</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.baseurl }}/give">Give</a>
                                        </li>
                                        <li>
                                            <a href="{{ site.baseurl }}/donate">Donate</a>
                                        </li>
                                    </ul>

                                </div>
                            </div>
                            <div class="social">
                                <div class="social_title">
                                    Connect With Us
                                </div>
                                <div class="social_group">
                                    <ul>
                                        <li>
                                            <a href=""><i class="fab fa-facebook-f fa-2x"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fab fa-twitter fa-2x"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fab fa-youtube fa-2x"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="fab fa-instagram fa-2x"></i></a>
                                        </li>
                                        <li>
                                            <a href=""><i class="far fa-envelope fa-2x"></i></a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="footer_newsletter">
                                    <!-- Begin MailChimp Signup Form -->
                                    <link href="http://cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                                    <link href="https://fonts.googleapis.com/css?family=Muli:900" rel="stylesheet">
                                    <style type="text/css">
                                    	#mc_embed_signup {
                                            background:#f7f7f7;
                                            clear:left;
                                            font:14px Muli,Arial,sans-serif;
                                            font-weight: 900;
                                        }
                                        #mc_embed_signup label {
                                            text-transform: uppercase;
                                            color: #000;
                                            margin-bottom: 0;
                                            text-align: center;
                                            font-weight: 900;
                                            font-size: 14px;
                                        }
                                        #mc_embed_signup input.email {
                                            width: 77%;
                                            border-radius: 0;
                                            border-color: #000;
                                            display: inline-block;
                                            background: transparent;
                                            min-height: 38px;
                                            /* max-width: 235px; */
                                        }
                                        #mc_embed_signup input.button {
                                            width: 38px;
                                            height: 38px;
                                            min-width: auto;
                                            color: #000;
                                            background-color: #f7f7f7;
                                            border-radius: 50%;
                                            border: 2px solid #000;
                                            display: inline-block;
                                        }
                                        #mc_embed_signup input.button:hover {
                                            background-color: #47E7CE;
                                        }

                                        @media screen and (min-width:768px) {
                                            #mc_embed_signup form {
                                                padding:0;
                                            }
                                            #mc_embed_signup label {
                                                text-align: left;
                                            }
                                        }
                                    	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                    	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                                    </style>
                                    <div id="mc_embed_signup">
                                    <form action="https://greenmountwestcc.us17.list-manage.com/subscribe/post?u=6e4d0339f828827deeeff0a3e&amp;id=5b0bf33c19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                        <div id="mc_embed_signup_scroll">
                                    	<label for="mce-EMAIL">Sign up to GWCC Newsletter</label>
                                    	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e4d0339f828827deeeff0a3e_5b0bf33c19" tabindex="-1" value=""></div>
                                        <div class="clear"><input type="submit" value="➜" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                        </div>
                                    </form>
                                    </div>

                                    <!--End mc_embed_signup-->
                                </div>
                                <div class="footer_nonprofit">
                                    <div class="message">
                                        GWCC is a registered 501(c)-3 nonprofit, status is pending.  All donations are tax-deductible.
                                    </div>
                                    <div class="cta">
                                        <a class="brand_cta_v2 blue" href="/donate"><div class="nonprofit_btn">
                                            Donate
                                        </div></a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
<div class="site_footer_mini">
    <div class="frow justify-end">
        <div class="copyright">
            <div>
                &copy; 2018. All Rights Reserved
            </div>
        </div>
        <div class="backtotop">
            <a href="#top">
                <div class="icon">
                    <img src="/assets/img/backtop.png" />
                </div>
                <div class="icon_text">
                    Back to<br />top
                </div>
            </a>
        </div>
    </div>
</div>

<!-- Javascript CDN -->
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

<!-- GWCC Video player -->
<!-- <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script> -->

{% if page.layout == "donate" %}
<script src="https://cdn.snipcart.com/scripts/2.0/snipcart.js" id="snipcart" data-api-key="M2E5OTgxOTYtYTgyNy00ZDk1LThlOTAtNGNkYTgxYWE5Y2M1NjM2NTUxOTQ1OTA5OTIxMzQ1"></script>

{% endif %}

<!-- Font Awesome -->
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

<!-- Slow Reveal -->
<script type="text/javascript" src="/js/vendor/fadethis.js"></script>

<!-- Scripts -->
<script type="text/javascript" src="/js/main.js"></script>
