<footer class="site_footer">
    <div class="medium_footer fullwidth_inner_wrapper">
        <div class="frow justify-between">
            <div class="medium_item">
                <div class="medium_title">
                    VISIT Greenmount West Community
                </div>
                <div class="highlight_short">
                    <div class="highlight_short_content">
                        <div class="icon_copper">
                            <div class="icon_copper_img"><img src="/assets/img/icon_location.png"  />
                            </div>
                            <div class="icon_copper_textbig">
                                1600 Guilford Avenue<br />
                                Baltimore, MD 21202
                            </div>
                        </div>
                    </div>
                    <div class="highlight_short_content">
                        <div class="icon_copper">
                            <div class="icon_copper_title">
                                Office Hours
                            </div>
                            <div class="icon_copper_img"><img src="/assets/img/icon_clock.png"  />
                            </div>
                            <div class="icon_copper_text">
                                Monday, Wednesday, Thursday <span class="white_wrap">10 AM - 1 PM</span>
                            </div>
                        </div>
                    </div>
                    <div class="highlight_short_content">
                        <div class="icon_copper">
                            <div class="icon_copper_title">
                                Program Hours
                            </div>
                            <div class="icon_copper_img"><img src="/assets/img/icon_clock.png"  />
                            </div>
                            <div class="icon_copper_text">
                                <span class="white_wrap">Monday, Tuesday, Thursday</span> <span class="white_wrap">3 PM - 6 PM</span><br />
                                <span class="white_wrap">Wednesday, 10 AM - 6 PM</span>
                                <span class="white_wrap">Saturday 10 AM - 1 PM</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="medium_item">

                {% include newsletter.html %}
            </div>
        </div>

    </div>
    <div class="short_footer">
        <div class="frow row-between">
            <div class="short_item">
                © 2016 - 2018. All Rights Reserved
            </div>
            <div class="short_item">
                <ul>
                    <li><a href="#" class="line_through">Privacy Policy</a></li>
                    <li><a href="#" class="line_through">FAQs</a></li>
                </ul>
            </div>
            <div class="backtop">
                <a href="#home"><img src="/assets/img/backtop.png" /></a>
            </div>
        </div>
    </div>
</footer>

<!-- Javascript CDN -->
{% unless page.layout == "primary" %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
{% endunless %}
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>
<!-- GWCC Video player -->
<!-- {% if page.layout == "primary" %} -->
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<!-- {% endif %} -->
{% if page.layout == "primary" %}
{% include gwcc_video.js %}
{% endif %}
<!-- Font Awesome -->
<script type="text/javascript" src="https://use.fontawesome.com/d476a27cae.js"></script>
<!-- Slow Reveal -->
<script type="text/javascript" src="/js/vendor/fadethis.js"></script>
<!-- Slick Slider -->
<script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
<script type="text/javascript" src="/slick/slick.min.js"></script>
<!-- Scripts -->
<script type="text/javascript" src="/js/main.js"></script>
