<header class="site_header {% unless page.layout == "gold" %}outer_wrapper{% endunless %} {% if page.layout == "gold" %} single_template_outer_wrapper {% endif %}">

    <div class="frow justify-between">
        <div class="logo" id="top">
            <a href="/">{% if page.layout == "home" %}<img src="/assets/img/gwcc-logo-white.png" class="logo_img" />{% endif %}{% unless page.layout == "home" %}<img src="/assets/img/gwcc-logo.png" class="logo_img" />{% endunless %}</a>
        </div>

        <div class="menu">
            <div id="menu-container" class="menu-btn">
                <button id="overlay-menu" type="button" class="menuButton">{% if page.layout == "home" %}<img src="/assets/img/icon_menu_white.png" class="menu_img" />{% endif %}{% unless page.layout == "home" %}<img src="/assets/img/icon_menu_v2.png" class="menu_img" />{% endunless %}</button>
            </div>

            <div class="site_header_wrapper">
                <div class="overlay overlay-data noScroll">
                    <div class="single_template_outer_wrapper">
                        <div class="frow justify-between">
                            <div class="overlay_logo">
                                <div class="frow justify-start">
                                    <div class="overlay_logo_img">
                                        <img src="/assets/img/gwcc-logo.png" />
                                    </div>
                                </div>
                            </div>
                            <button type="button" class="overlay-close"></button>
                        </div>

                    </div>

                    <div class="overlay_menu_group">

                        <nav>
                            <div class="menu_group">
                                <div class="menu_group_title">
                                    what we do
                                </div>
                                <ul>
                                    <div class="frow justify-between">
                                        {% include components/programs_overlay.html %}
                                        <li><a href="{{ site.baseurl }}/discover">discover</a></li>
                                        <li><a href="http://www.noisytenants.com/work/bus-stop-buddies" target="_blank">bus stop buddies</a></li>
                                        <li><a href="{{ site.baseurl }}/history">history</a></li>
                                        <li><a href="{{ site.baseurl }}/calendar">calendar</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="menu_group">
                                <div class="menu_group_title">
                                    who we are
                                </div>
                                <ul>
                                    <div class="frow justify-between">
                                        <li><a href="{{ site.baseurl }}/our-staff">our staff</a></li>
                                        <li><a href="{{ site.baseurl }}/community">community</a></li>
                                        <li><a href="{{ site.baseurl }}/partners">partners</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="menu_group">
                                <div class="menu_group_title">
                                    gwcc news
                                </div>
                                <ul>
                                    <div class="frow justify-between">
                                        <li><a href="{{ site.baseurl }}/highlights">highlights</a></li>
                                        <li><a href="{{ site.baseurl }}/newsletter">join newsletter</a></li>
                                    </div>
                                </ul>
                            </div>
                            <div class="menu_group">
                                <div class="menu_group_title">
                                    other
                                </div>
                                <ul>
                                    <div class="frow justify-between">
                                        <li><a href="{{ site.baseurl }}/give">give</a></li>
                                        <li><a href="{{ site.baseurl }}/work-with-us">work with us</a></li>
                                        <li><a href="{{ site.baseurl }}/volunteer">volunteer</a></li>
                                        <li><a href="{{ site.baseurl }}/faqs">FAQs</a></li>
                                        <li><a href="{{ site.baseurl }}/contact-us">contact us</a></li>
                                    </div>
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="menu_desktop {% unless page.layout == "home" %} black_menu {% endunless %}">
                <ul>
                    {% include components/programs_overlay_desktop.html %}
                    <li><a href="{{ site.baseurl }}/discover">discover</a></li>
                    <li><a href="{{ site.baseurl }}/community">community</a></li>
                    <li><a href="{{ site.baseurl }}/highlights">highlights</a></li>
                    <li><a href="http://www.noisytenants.com/bus-stop-tracker">bus stop buddies</a></li>
                    <li><a href="{{ site.baseurl }}/give" class="box {% unless page.layout == "home" %} black_menu {% endunless %}"><div>give</div></a></li>
                </ul>
            </div>
        </div>
    </div><!-- FROW -->
</header>
