<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="author" content="Montier Kess" />
  <meta name="portfolio" content="http://theivyproject.com" />
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
  <meta charset="utf-8" />

  <!-- Meta OG Tags -->
  <meta name="og:title" content="Greenmount West Community Center">
  <meta name="og:title" content="A Community Art Space">
  <meta property="og:url" content="http://www.greenmountwestcc.com" />
  <meta property="og:image" content="img/og-img.png" />

  <link rel="shortcut icon" href="/crwn.png" type="image/png">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <!-- Font -->
  <link href="https://fonts.googleapis.com/css?family=Karla:400,700|Muli:700,900" rel="stylesheet">

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" />
  <link rel="stylesheet" type="text/css" href="/css/vendor/frow.css" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.css" type="text/css" rel="stylesheet" />

  <!-- Slick Stylesheets -->
  <link rel="stylesheet" type="text/css" href="/slick/slick.css"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-115766053-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-115766053-1');
    </script>

  {% if page.layout == "community" %}
  <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.31.0/mapbox-gl.css' rel='stylesheet' />
  <style>
    body {
      margin: 0;
      padding: 0;
    }

    #map {
      position: absolute;
      top: 0;
      bottom: 0;
      width: 100%;
      box-shadow: 1px 1px 10px #000;
    }

  </style>
  {% endif %}



</head>
