<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{
        clear:left;
        font:14px Helvetica,Arial,sans-serif;
    }
	#mc_embed_signup form {
		padding: 0;
	}
    #mc_embed_signup input.email {
        background: transparent;
        border-color: #070707;
        border-radius: 0;
        border-left: 0;
        border-right:0;
        border-top: 0;
        color: #070707;
        margin-bottom: 30px;
        width: 100%;
    }
    #mc_embed_signup input.button {
        background-color: transparent;
        border: 2px solid;
    	border-radius: 20px;
    	color: #070707;
    	display: block;
    	font-weight: bold;
        height: 40px;
    	margin: 0;
    	padding: 0 10px;
    	text-align: center;
    	text-decoration: none;
    	width: 130px;
    }
    #mc_embed_signup input.button:hover {
        color: #c4385f;
        transition: 0.5s;
        background-color: transparent;
    }
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="https://noisytenants.us4.list-manage.com/subscribe/post?u=0db703f6939fa4c15f327f636&amp;id=80f8b613cc" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<!-- <label for="mce-EMAIL">Subscribe to our mailing list</label> -->
    <div class="newsletter_title">
        Get the latest updates on programming + event happenings in GWCC
    </div>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0db703f6939fa4c15f327f636_80f8b613cc" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->
