<div class="news_wrapper">
    <div class="news_slider" id="js_news_slider">
        {% for item in site.data.news_slider %}
        <div>
            <div class="news_slide_item" style="background-image: url('{{ item.heroimg }}');">
                <div class="frow centered">
                    <div class="news_slide_herotext">
                        {{ item.herotext }}
                    </div>
                </div>
            </div>
            <div class="news_slide_box">
                <div class="news_slide_box_title">Read</div>
                <div class="news_slide_box_text">
                    <a href="{{ item.url }}">{{ item.headline }}</a>
                </div>
                <div class="news_slide_box_link">
                    <a href="{{ item.url }}"><i class="fa fa-arrow-circle-o-right fa-lg" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>
