// Contact Content
.contact_content {
    background: $lightgrey;

    @include laptop {
        padding-top: 100px !important;
        padding-bottom: 100px !important;
    }

    .contact_text {
        font-size: 24px;
        line-height: 1.4;
        margin-bottom: 50px;

        @include tablet {
            width: 60%;
            max-width: 450px;
        }
        @include laptop {
            font-size: 30px;
            max-width: 600px;
        }

        a {
            color: $black;
            font-weight: $font-bold;
            text-decoration: none;

            &:hover {
                @extend %hover;
            }
        }
    }
    .contact_highlight {
        font-weight: $font-bold;
    }
}
