.donate_wrapper {
    padding: 3em 0
}
.donate_meta {
    padding: 50px 10px;

    @include small {
        padding: 50px 30px;
    }
    @include palm {
        width: 80%;
        padding: 50px 0 75px;
        margin: 0 auto;
    }
    @include laptop {
        max-width: 850px;
    }
    @include widescreen {
        max-width: 900px;
    }
}
.donate_intro_content {
    text-align: center;
    margin-bottom: 75px;

    .donate_title {
        font-family: $font-1;
        font-weight: $muli-black;
        text-transform: uppercase;
        font-size: 20px;
        margin-bottom: 45px;

        @include palm {
            font-size: 32px;
        }
        @include tablet {
            font-size: 36px;
        }
    }
    .donate_summary {
        font-size: 18px;
        line-height: 1.2;

        @include palm {
            font-size: 22px;
        }
        @include desktop {
            font-size: 26px;
        }
    }
}
.donate_mid_content {
    width: 100%;
    margin: 0 auto;
    padding-bottom: 75px;

    &:last-child {
        padding-bottom: 0;
    }
}
.donate_header {
    text-align: center;
    font-size: 16px;
    text-transform: uppercase;
    font-family: $font-1;
    font-weight: $muli-black;
    padding-bottom: 25px;

    @include palm {
        width: 75%;
        margin: auto;
    }
    @include desktop {
        width: 60%;
    }
}
.donate_contact {
    margin: auto;
    width: fit-content;
}
.donate_cta {
    display: inline-block;
    color: $black;
    font-weight: $muli-black;
    text-transform: uppercase;
    font-family: $font-1;
    font-size: 14px;
    width: 100%;

    &:last-child {
        margin-right: 0;
    }

    @include palm {
        width: auto;
        margin: 0 25px 0 0;
    }

    div {
        width: fit-content;
        border: 3px solid;
        padding: 4px 10px;
        margin: 0 auto 15px;

        &:hover {
            background: $black;
            color: $white;
            border: 3px solid $black;
        }
    }
}
.donate_items_list {
    li {
        text-align: center;
        width: 150px;
        margin-bottom: 20px;

        @include palm {
            width: 50%;
        }
        @include tablet {
            width: 30%;
        }

        button {
            background: transparent;
            border-radius: 0;
            border: 3px solid $black;
            width: 130px;
            height: 40px;
            font-family: $font-1;
            font-weight: $muli-black;
            font-size: 16px;

            &:focus {
                outline: none;
            }
            &:hover {
                background: $black;
                color: $white;
                cursor: pointer;
            }

            @include palm {
                width: 175px;
            }
            @include laptop {
                width: 225px;
                height: 50px;
            }
        }
    }
}

// Snipcart
.snip-header
 {
    background: #1CBBA2 !important;
}
.snip-table__item {
    background: $black !important;
}
.snip-product__name,
.snip-quantity-trigger__text,
.snip-table__cell--highlight,
.snip-table__cell--bold
 {
    color: #fff !important;
}
.snip-table__header {
    color: #fff !important;
    background: #000 !important;
}
.snip-product__remove {
    color: #1cbba2 !important;
}
.snip-btn--highlight {
    background: #1cbba2 !important;
    color: #fff !important;
}
