// Highlights
.highlights_group {
    @extend .mission_group;


}

// Highlights Page - Featured Post
.highlights_meta {
    padding: 15px;
    position: relative;
    height: 65vh;

    @include palm {
        padding: 25px;
    }
    @include tablet {
        padding: 25px 0;
    }

    .featured {
        background-color: $black;
        border: 3px solid $black;
        padding: 3px 10px;
        text-transform: uppercase;
        color: $bluegreen;
        font-size: 12px;
        font-family: $font-1;
        font-weight: $muli-black;

        @include tablet {
            font-size: 18px;
            padding: 10px 15px;
        }
    }
    .highlights_bottom {
        position: absolute;
        bottom: 1em;

        @include palm {
            bottom: 2em;
        }

        @include tablet {
            bottom: 3em;
        }

        a {
            text-decoration: none;
        }
    }
    .featured_title {
        font-size: 40px;
        font-family: $font-1;
        font-weight: $muli-black;
        color: $white;
        margin-bottom: 10px;
        text-shadow: 1px 1px #361d0d;

        @include palm {
            font-size: 48px;
        }
        @include tablet {
            font-size: 60px;
        }
        @include laptop {
            width: 100%;
        }
        @include widescreen {
            font-size: 65px;
        }
    }
    .featured_summary {
        font-size: 20px;
        color: $white;
        margin-bottom: 15px;
        line-height: 1.2;
        padding-right: 1em;

        @include palm {
            padding-right: 4em;
        }
        @include tablet {
            width: 500px;
            font-size: 24px;
            padding-right: 0;
        }
        @include widescreen {
            font-size: 28px;
            width: 600px;
        }
    }
}

// Highlights Page - Non Featured Posts
.highlights_items_meta {
    padding: 3em 0;
    width: 90%;
    margin: 0 auto;

    @include palm {
        max-width: 500px;
    }

    @include tablet {
        max-width: none;
        width: 100%;
    }

    .highlights_item {
        width: 100%;
        padding-bottom: 3em;
        border-bottom: 2px solid;
        margin-bottom: 3em;

        &:last-child {
            border-bottom: 0;
        }

        @include laptop {
            width: 90%;
        }

        a {
            text-decoration: none;
        }

        .highlights_item_title {
            font-family: $font-1;
            font-weight: $muli-black;
            font-size: 22px;
            margin-bottom: 15px;

            @include palm {
                font-size: 34px;
                width: 90%;
            }

            @include tablet {
                font-size: 40px;
            }

            @include laptop {
                width: 90%;
                font-size: 36px;
            }
            @include widescreen {
                font-size: 40px;
                width: 65%;
            }

            a {
                color: $black;
                text-decoration: none;

                &:hover {
                    color: $bluegreen;
                }
            }
        }
        .highlights_item_summary {
            margin-bottom: 15px;
            line-height: 1.2;

            @include palm {
                font-size: 22px;
                padding-right: 1.5em;
            }
            @include tablet {
                font-size: 20px;
            }
            @include laptop {
                width: 60%;
            }
        }
    }
}

// Highlight Single - Video
.highlight_video {
    @extend %bg_props;
    height: 60vh;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    transition: 0.5s;
    width: 100vw;

    @include tablet {
        height: 75vh
    }

    @include desktop {
        height: 80vh;
    }

    .bronzey_alpha {
        color: $white;
        font-size: 20px;
        letter-spacing: 1.5px;
        margin-top: 35px;
        text-transform: uppercase;
        text-shadow: 1px 1px #484646;

        @include tablet {
            font-size: 24px;
        }
        @include desktop {
            font-weight: bold;
        }
    }
    .bronzey_play {
        text-align: center;
    }
}
.highlight_audio {
    margin: 75px 0 125px;
}
// Highlights Single - Slider
.highlights__slider_bg_img {
    width: 100%;
    height: 60vh !important;
    @extend %bg_props;
    background-position: center center;

    @include tablet {
        height: 80vh !important;
    }
}
.caret_slide_web {
    position: absolute;
    z-index: 7;
    width: 60px;
    bottom: 5vh;

    @include tablet {
        bottom: auto;
        top: 30vh;
    }

    &.left {
        left: 15px;
        @include tablet {
            left: 2em;
        }
        @include tv {
            left: 10em;
        }
    }
    &.right {
        right: 15px;
        @include tablet {
            right: 2em;
        }
        @include tv {
            right: 10em;
        }
    }
}
// Highlights Single - Bottom Content
.highlight__content_left {
    padding: 2em 1em 1em;

    @include tablet {
        width: 65%;
    }
    @include laptop {
        width: 55%;
        padding-bottom: 4em;
    }
    @include tv {
        width: 40%;
    }
}
.highlight__content_right {
    padding: 0 1em;

    @include laptop {
        width: 35%;
    }
    @include tv {
        width: 25%;
    }
}
.highlights__content-title {
    font-family: $font-1;
    font-weight: $muli-black;
    font-size: 24px;
    padding-bottom: 15px;

    @include palm {
        font-size: 32px;
        padding-bottom: 20px;
    }
    @include laptop {
        font-size: 44px;
    }

}
.highlights__content-summary {
    line-height: 1.2;
    padding-bottom: 25px;

    @include palm {
        font-size: 20px;
    }
    @include laptop {
        font-size: 22px;
    }
}
.highlights__content_wrapper {
    position: relative;
    @extend %clearfix;
}
.highlights__back {
    margin-top: 2.5em;
}


// Highlights Single - Old Posts (Delete Later)
.highlights_single_meta {
    @extend .highlights_items_meta;
    margin:25px 15px 30px;

    @include palm {
        max-width: 480px;
    }
    @include tablet {
        max-width: none;
        margin:40px 0;
        width: 100%;
    }
    @include laptop {
        max-width: 800px;
        margin: 75px auto;
    }
    @include desktop {
        max-width: 1000px;
    }

    h1 {
        font-size: 20px;
        font-family: $font-1;
        font-weight: $muli-black;
        margin-bottom: 15px;

        @include tablet {
            font-size: 28px;
        }
    }
    p {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 45px;

        @include tablet {
            font-size: 20px;
        }
    }
}
.highlight_quote_group {
    position: relative;
    margin: 50px 0 75px;

    @include tablet {
        max-width: 600px;
        margin: 50px auto 75px;
    }

    @include desktop {
        margin: 100px auto;
    }

    .highlight_quote {
        font-size: 20px;
        font-family: $font-1;
        font-weight: $muli-black;
        border: 4px solid $bluegreen;
        padding: 15px;
        background: $white;
        line-height: 1.2;

        @include tablet {
            font-size: 26px;
            padding: 25px;
        }
    }
    .author {
        font-size: 14px;
        padding-top: 25px;
        text-align: right;

        @include tablet {
            padding-top: 35px;
            font-size: 18px;
        }
    }
    .highlight_quote_bottom {
        position: absolute;
        top: 0.25em;
        left: 0.25em;
        width: 100%;
        height: 100%;
        background: $bluegreen;
        z-index: -1;
    }
}
// Interview Excerpt
.highlights_interview_excerpt {
    margin-bottom: 50px;

    .time {
        font-size: 14px;
        margin-bottom: 5px;

        @include tablet {
            font-size: 16px;
        }
    }
    .host {
        font-size: 20px;
        font-family: $font-1;
        font-weight: $muli-black;
        line-height: 1.2;
        margin-bottom: 10px;

        @include tablet {
            font-size: 22px;
        }
    }
    .copy {
        font-size: 18px;
        line-height: 1.2;

        @include tablet {
            font-size: 20px;
        }
    }
}

// Pagination
.pagination_wrapper {
    margin: 15px 0;

    @include laptop {
        margin: 0;
        width: 100%;
    }

    a {
        text-decoration: none;

        div {
            color: $black;
            font-size: 12px;
            font-family: $font-1;
            font-weight: $muli-black;
            text-transform: uppercase;

            &:hover {
                color: $bluegreen;
            }
        }


    }
    .next_post_group {
        margin: 20px 0;
        position: relative;

		@include palm {
			max-width: 350px;
		}

        .next_post {
            font-size: 18px;
            font-weight: $muli-black;
            font-family: $font-1;
            background: $black;
            color: $white;
            padding: 10px;
            border: 3px solid;
            line-height: 1.2;
        }
    }
}
