// Masthead
.masthead {
    margin: 75px auto;

    @include tablet {
        margin-bottom: 125px;
        max-width: 750px;
    }
    @include laptop {
        margin-bottom: 100px;
        max-width: 950px;
    }
    @include desktop {
        max-width: 1150px;
    }
    @include widescreen {
        height: 35vh;
        margin-bottom: 60px;
        max-width: 1325px;
    }

}
.home_masthead {
    text-align: center;
    color: $white;
    height: 80vh;

    @include laptop {
        height: 78vh;
    }

    .home_masthead_title {
        font-size: 44px;
        font-family: $font-1;
        font-weight: $muli-black;
        text-transform: uppercase;
        line-height:1;
        letter-spacing: 1px;
        margin-bottom: 40px;

        @include small {
            font-size: 46px;
        }
        @include palm {
            font-size: 60px;
        }
        @include tablet {
            font-size: 90px;
        }
        @include laptop {
            font-size: 105px;
        }
        @include desktop {
            font-size: 120px;
            line-height: 0.85;
        }
        @include tv {
            font-size: 160px;
        }
    }
    .home_masthead_subtitle {
        font-weight: $font-bold;
        font-size: 20px;
        margin-bottom: 50px;

        @include palm {
            font-size: 28px;
        }
        @include tablet {
            font-size: 32px;
            width: 80%;
        }
        @include laptop {
            font-size: 36px;
            width: 100%;
            padding: 0 25px;
            margin-bottom: 30px;
        }
        @include desktop {
            padding: 0 145px;
        }
        @include tv {
            width: 68%;
            padding: 0;
            font-size: 44px;
        }
    }
    .home_masthead_small_group {
        position: relative;

        @include tablet {
            width: 85%;
            margin: 0 auto;
        }
        @include laptop {
            width: 100%;
            margin: 0 auto;
            padding: 0 50px;
        }
        @include tv {
            width: 80%;
            margin: 0 auto;
        }

        .small_circle {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            position: absolute;
            top: -0.9em;
            left: 0.2em;
            z-index:1;

            @include tablet {
                height: 100px;
                width: 100px;
            }

            @include laptop {
                top: -0.5em;
                left: 4em;
            }
            @include tv {
                left: 2em;
                top: -1em;
                height: 100px;
                width: 100px;
            }
        }
        .small_circle.color {
            background-color: $bluegreen;
        }
        .small_text {
            font-size: 18px;
            letter-spacing: 1.2px;
            position: relative;
            z-index: 2;

            @include palm {
                font-size: 18px;
            }
            @include tablet {
                font-size: 22px;
            }
            @include laptop {
                font-size: 24px;
            }
        }
    }
}

// Intro Content
.intro_content {
    margin-bottom: 55px;

    .intro_item {
        margin-bottom: 50px;

        @include tablet {
            margin-bottom: 0;
            margin-top: 75px;
            width: 45%;
        }

    }

    .intro_title {
        font-family: $font-1;
        font-size: 26px;
        font-weight: 900;
        letter-spacing: 1.42px;
        line-height: 34px;
        margin-bottom: 30px;

        @include tablet {
            font-size: 36px;
            line-height: 1.4;
        }
    }
    .intro_text {
        font-size: 18px;
        letter-spacing: 1.2px;
        line-height: 28px;
        margin-bottom: 30px;

        @include tablet {
            font-size: 24px;
            line-height: 1.4;
        }
    }
}

// Highlight Content
.highlight_content {
    border: 9px solid $bluegreen;
    margin-bottom: 150px;

    @include tablet {
        width: 40%;
        height: 48vh;
    }
    @include widescreen {
        max-width: 300px;
    }

    .highlight_title {
        font-family: $font-1;
        font-size: 24px;
        font-weight: $muli-black;
        line-height: 30px;
        margin-bottom: 25px;
        text-transform: uppercase;
    }
    .highlight_img {
        margin-bottom: 40px;

        img {
            width: 75px;
        }
    }
}

// Sponsors
.sponsor_content {
    margin-bottom: 150px;

    .sponsor_title {
        font-family: $font-1;
        font-size: 24px;
        font-weight: $muli-black;
        margin: 30px 0 75px;
        text-align: center;
        text-transform: uppercase;

        @include tablet {
            margin-top: 60px;
        }
    }
    .sponsor_item {
        margin-bottom: 30px;
        text-align: center;
        width: 100%;

        @include tablet {
            width: 22%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
}

// Sponsors
.sponsors {
    color: $white;
    margin-bottom: 40px;
    @include tablet {
        margin-bottom: 75px;
    }
    @include laptop {
        max-width: 750px;
        margin: 0 auto 40px;
    }
    @include desktop {

        max-width: none;
        width: 100%;
    }

    .sponsors_title {
        text-align: center;
        font-family: $font-1;
        font-weight: $muli-black;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        padding-bottom: 30px;
    }

    .sponsors_group {
        @include tablet {
            width: 75%;
            margin: auto;

        }
        ul {
            li {
                width: 24%;
                display: inline-block;

                @include laptop {
                    width: auto;
                }
            }
        }
    }
}

// Goldie - Three Column Structure - Home
.goldie {
    margin: 100px auto 150px;
    color: $white;
    width: 90%;

    @include palm {
        max-width: 500px;
    }

    @include tablet {
        margin: 100px auto 50px;
    }

    @include laptop {
        max-width: 925px;
    }
    @include desktop {
        max-width: 1075px;
    }
    @include widescreen {
        max-width: 1280px;
    }
    @include tv {
        max-width: 1440px;
    }

    .single {
        margin-bottom: 75px;
        width: 100%;

        @include laptop {
            width: 30%;
        }

        @include tv {
            margin-bottom: 125px;
        }


        .goldie_title {
            font-weight: bold;
            font-size: 20px;
            letter-spacing: 0.5px;
            margin-bottom: 15px;
            text-transform: uppercase;

            @include palm {
                font-size: 22px;
            }

            @include tablet {
                padding-right: 50px;
            }

            @include desktop {
                font-size: 28px;
                width: 90%;
            }

            @include tv {
                font-size: 30px;

            }
        }
        .goldie_text {
            border: 7px solid $bluegreen;
            padding: 15px;
            letter-spacing: 1px;
            font-weight: 400;
            @include palm {
                font-size: 20px;
            }
            @include laptop {
                font-size: 18px;
            }
            @include desktop {
                font-size: 20px;
            }
            @include widescreen {
                font-size: 22px;
            }
            @include tv {
                font-size: 24px;
                padding: 20px;
                border: 10px solid $bluegreen;
            }
        }
        .goldie_cta {
            color: $white;
            text-decoration: none;
            font-weight: bold;

            div {
                border: 4px solid;
                width: 130px;
                padding: 5px;
                margin-top: 20px;

                @include palm {
                    padding: 8px;
                    width: 150px;
                    font-size: 18px;
                }

                &:hover {
                    border-color: $bluegreen;
                    -webkit-transition: 0.5s ease-in-out;
                    -moz-transition: 0.5s ease-in-out;
                    -o-transition: 0.5s ease-in-out;
                    transition: 0.5s ease-in-out;
                    background-color: $bluegreen;
                    color: $black;
                }

                @include tv {
                    padding: 7px;
                }
            }
        }
    }
}

// Old Index - Delete Later
// Featured Content (2 news posts)
.featured_content {
    margin-top: 125px !important;
    margin-bottom: 125px !important;

    @include tablet {
        margin-bottom: 0px !important;
    }

    .featured_item {
        margin-bottom: 125px;

        @include tablet {
            width: 42%;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }
    .double_image {
        position: relative;
        margin-bottom: 50px;

        .double_bottom {
            background: $bluegreen;
            height: 277px;
            margin-left: 3px;
            width: 100%;

            @include small {
                height: 329px;
                margin: auto;

                text-align: center;
                width: 315px;
            }
            @include tablet {
                width: 310px;
            }
        }
        .double_top {
            height: 303px;
            position: absolute;
            right: 1px;
            top: -5px;

            @include small {
                height: auto;
                left: -10px;
                right: 0;
                text-align: center;
                top: -5px;
            }
        }
    }
    .featured_title {
        font-size: 24px;
        font-weight: $font-bold;
        margin-bottom: 30px;
        text-align: center;
        text-transform: uppercase;

        @include tablet {
            font-size: 34px;
        }
    }
    .featured_text {
        font-size: 20px;
        line-height: 28px;
        letter-spacing: 0.3px;
        margin-bottom: 30px;
        text-align: center;

        @include tablet {
            height: 190px;
            font-size: 22px;
            line-height: 1.4;
        }
    }
}
