#programs_menu_container {
	height: 50px;
	position: relative;
	width: 130px;

	@include laptop {
		display: inline;
		margin-right: 25px;
	}
}
.programs_menu_button {
	background: transparent !important;
	border: none !important;
	height: 100% !important;
	position: relative !important;
	-webkit-font-smoothing: antialiased;
    width: 110px;
    padding: 0 !important;

	@include laptop {
		width: 120px;
	}

    li {
        letter-spacing: 0.75px;
        -webkit-font-smoothing: antialiased;

		@include tablet {
			width: 130px !important;
		}

		@include laptop {
			color: $white;
			text-transform: uppercase;
			font-size: 18px;
		}
    }
}
.programs_menu_button:active {
	position: relative;
	top: 1px;
}
.programs_menu_button:hover {
	-o-transition:.75s;
    -ms-transition:.75s;
    -moz-transition:.75s;
    -webkit-transition:.75s;
    transition:.75s;
}
.programs_menu_btn {
	// @include laptop {
	// 	display: none;
	// }
}
.programs_overlay {
	background-color: $bluegreen;
	height: 100%;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 500;
	overflow: scroll;

	// Programs Content
	.programs_content_group {
	    @extend %clearfix;
	    padding: 100px 25px 50px;

		@include palm {
			max-width: 500px;
			margin: 0 auto;
		}

		@include laptop {
			max-width: 900px;
		}

		@include desktop {
			max-width: 1100px;
		}

		.programs_content_single {
			padding-bottom: 50px;
			width: 100%;

			@include laptop {
				width: 45%;
			}

			.programs_content_title {
				font-family: $font-1;
				font-weight: $muli-black;
				font-size: 40px;
				padding-bottom: 10px;

				@include desktop {
					font-size: 48px;
				}
			}
			.programs_content_subtitle {
				font-family: $font-1;
				font-weight: $muli-black;
				font-size: 20px;
				text-transform: uppercase;
				padding-bottom: 15px;

				@include desktop {
					font-size: 22px;
				}
			}
			.programs_content_summary {
				font-size: 20px;
				line-height: 1.4;

				@include desktop {
					font-size: 24px;
				}

				span {
					font-weight: $font-bold;
				}
			}
		}
	}
}
.programs_overlay_close,
.programs_overlay_close_desktop {
	background: url('/assets/img/icon_menu_close_v3.png') no-repeat center center !important;
	background-size: contain !important;
	border: none !important;
	color: transparent !important;
	float: right;
	height: 35px !important;
	outline: none;
	overflow: hidden !important;
	margin-right: 7px !important;
	text-indent: 200% !important;
	top: 7px !important;
	margin-top: 7px !important;
	width: 35px !important;
	z-index: 100 !important;
}
.programs_overlay_data {
	opacity: 0;
	visibility: hidden;
	transition: opacity 0.5s, visibility 0s 0.5s;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
}
.programs_overlay_open,
.programs_overlay_open_desktop {
	opacity: 1;
	transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
	visibility: visible;
}
