<div class="goldie">
    <div class="frow justify-between">
        <div class="single js_home">
            <div class="goldie_title">
                Discover GWCC Free + Open to Public
            </div>
            <div class="goldie_text">
                Programming for youth and adults, while serving as a resource hub for all of the Greenmount West initiatives (Referrals to Community Resources &mdash; AHC, etc.)
            </div>
            <a class="goldie_cta" href="/community">
                <div>
                    + Learn More
                </div>
            </a>
        </div>
        <div class="single js_home">
            <div class="goldie_title">
                Employing Youth Workers Ages 14+
            </div>
            <div class="goldie_text">
                Youth either living in or going to school in the  Greenmount West community, are hired to help manage and facilitate programming and procedures in the center.
            </div>

            <a class="goldie_cta typeform-share link" href="https://gwcc.typeform.com/to/s5VaPG" data-mode="drawer_right"  target="_blank"><div>
                + Apply Now
            </div></a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
        <div class="single js_home">
            <div class="goldie_title">
                GWCC Relies on People Like You!
            </div>
            <div class="goldie_text">
                Help us provide programming, events, workshops, after-school snacks and more. Monetary donations provide program support which moves our mission forward.             </div>
            <a class="goldie_cta" href="/donate">
                <div>
                    + Support Us
                </div>
            </a>
            <!-- <a class="goldie_cta typeform-share link" href="https://gwcc.typeform.com/to/zPthAI" data-mode="drawer_right" style="color:#47E7CE;text-decoration:underline;font-size:20px;" target="_blank"><div>
                + Apply Now
            </div></a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script> -->
        </div>
    </div>

</div>
