<div class="goldie">
    <div class="frow justify-between">
        <div class="single">
            <div class="goldie_title">
                Discover GWCC<br />Free + Open to Public
            </div>
            <div class="goldie_text">
                Programming for youth and adults, while serving as a resource hub for all of the Greenmount West initiatives (Workforce development, AHC and GED)
            </div>
            <a class="goldie_cta" href="/programs">
                <div>
                    + Learn More
                </div>
            </a>
        </div>
        <div class="single">
            <div class="goldie_title">
                Employing Youth Workers<br />Ages 14+
            </div>
            <div class="goldie_text">
                Youth from the Greenmount West community, either living in or going to school in, are hired to help manage and facilitate programming and procedures in the center.
            </div>
            <a class="goldie_cta" href="/give">
                <div>
                    + Learn More
                </div>
            </a>
        </div>
        <div class="single">
            <div class="goldie_title">
                Employing Youth Workers<br />Ages 14+
            </div>
            <div class="goldie_text">
                Youth from the Greenmount West community, either living in or going to school in, are hired to help manage and facilitate programming and procedures in the center.
            </div>
            <a class="goldie_cta" href="/give">
                <div>
                    + Learn More
                </div>
            </a>
        </div>
    </div>

</div>
