<div class="highlights__slider-wrapper">
    <div class="highlights__slider">
        <div class="highlights__slider_bg_img  discover_overlay" style="background-image:url('/assets/img/highlights_podcast.jpg');"></div>
        <div class="highlights__slider_bg_img  discover_overlay" style="background-image:url('/assets/img/history_cover.jpg');"></div>
        <div class="highlights__slider_bg_img  discover_overlay" style="background-image:url('/assets/img/gwcc_discover_volunteer.jpg');"></div>
    </div>
</div>
