<div class="goldie">
    <div class="frow justify-between">
        <div class="single js_home">
            <div class="goldie_title">
                {{ page.resource1_name }}
            </div>
            <div class="goldie_text">
                {{ page.resource1_summary }}
            </div>
            <a class="goldie_cta" href="/community">
                <div>
                    + {{ page.resource1_link_text }}
                </div>
            </a>
        </div>
        <div class="single js_home">
            <div class="goldie_title">
                {{ page.resource2_name }}
            </div>
            <div class="goldie_text">
                {{ page.resource2_summary }}
            </div>

            <a class="goldie_cta typeform-share link" href="https://gwcc.typeform.com/to/s5VaPG" data-mode="drawer_right"  target="_blank"><div>
                + {{ page.resource2_link_text }}
            </div></a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
        </div>
        <div class="single js_home">
            <div class="goldie_title">
                {{ page.resource3_name }}
            </div>
            <div class="goldie_text">
                {{ page.resource3_summary }}
            </div>
            <a class="goldie_cta" href="/donate">
                <div>
                    + {{ page.resource3_link_text }}
                </div>
            </a>
        </div>
    </div>

</div>
