<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZ3djY2JhbHRpbW9yZSIsImEiOiJjamUzNTdtems2dmloMzNwMHVoejgzZTdtIn0.q6O1IPH7MpHO6J4Zf99fQQ'; // replace this with your access token
var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/gwccbaltimore/cje906dl2175s2skxg147ui5p' // replace this with your style URL
});
// code from the next step will go here
map.on('click', function(e) {
var features = map.queryRenderedFeatures(e.point, {
layers: ['gwcc-campus-tileset2'] // replace this with the name of the layer
});

if (!features.length) {
return;
}

var feature = features[0];

var popup = new mapboxgl.Popup({ offset: [0, -15] })
.setLngLat(feature.geometry.coordinates)
.setHTML('<h3>' + feature.properties.title + '</h3>')
.setLngLat(feature.geometry.coordinates)
.addTo(map);
});
</script>
