<div id="programs_menu_container" class="programs_menu_btn">
    <button id="js_programs_overlay_menu_desktop" type="button" class="programs_menu_button">
        <li>programs &#8711;</li>
    </button>
</div>
<div class="programs_overlay programs_overlay_data noScroll">
    <div class="single_template_outer_wrapper">
        <button type="button" class="programs_overlay_close_desktop"></button>
    </div>
    <div class="programs_content_group">
        <div class="frow justify-between">
            {% for item in site.programs %}
            <div class="programs_content_single">
                <div class="programs_content_title">
                    {{ item.title }}
                </div>
                <div class="programs_content_subtitle">
                    ({{ item.subtitle }})
                </div>
                <div class="programs_content_summary">
                    {{ item.program_summary }} <span>Provided by {{ item.program_instructor }}</span>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>
