<div class="people_single">
    <a href="{{ item.external_link }}" target="_blank"><div class="people_single_avatar " style="background-image:url('{{ item.avatar }}');"></div></a>

    <div class="people_single_name">
        {{ item.title }}
    </div>
    <div class="people_single_title">
        {{ item.position }}
    </div>
    <div class="people_single_summary">
        {{ item.summary }}
    </div>
    <div class="team_social">
        {% if item.mail %}<span><a href="mailto: {{item.mail }}"><i class="far fa-envelope"></i></a></span>{% endif %}
        {% if item.twitter %}<span><a href="http://www.twitter.com/{{ item.twitter }}"><i class="fab fa-twitter"></i></a></span>{% endif %}
        {% if item.link %}<span><a href="{{ item.link }}"><i class="fas fa-external-link-alt"></i></a></span>{% endif %}
    </div>

</div>
