<footer class="site_footer js_scroll_reveal">
    <section class="footer_solid_bg">
        <div class="footer_grid">
            <div class="frow justify-between">

                <div class="footer_logo">
                    <a href="/">
                        <div class="footer_logo_img"></div>
                    </a>
                </div>
                <div class="footer_all">
                    <div class="frow justify-between">
                        <div class="footer_column left">
                            <div class="frow justify-between">
                                <div class="footer_content left">
                                    <div class="footer_content_title">
                                        Greenmount West Community Center
                                    </div>
                                    <div class="footer_content_subtitle">
                                        1634 Guilford Avenue<br />
                                        Baltimore, MD 21202<br />
                                        <span>
                                            (entrance on 200 block of East Lanvale Street)
                                        </span>
                                    </div>
                                </div>
                                <div class="footer_content right">
                                    <div class="footer_content_section">
                                        <div class="footer_content_single">
                                            <div class="footer_content_header">
                                                Program Hours
                                            </div>
                                            <div class="footer_content_group">
                                                <span class="icon">
                                                    <img src="/assets/img/icon_clock.png" />
                                                </span>
                                                <div class="footer_content_meta">
                                                    <ul>
                                                        <li>
                                                            Monday, Tuesday, Thursday,<br /> 11 AM - 6 PM
                                                        </li>
                                                        <li>
                                                            Wednesday, 1 PM - 6 PM
                                                        </li>
                                                        <li>
                                                            Saturday, 9 AM - 1 PM
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="footer_content_single">
                                            <div class="footer_content_header">
                                                Phone
                                            </div>
                                            <div class="footer_content_group">
                                                <span class="icon">
                                                    <img src="/assets/img/icon_phone.png" />
                                                </span>
                                                <div class="footer_content_meta">
                                                    <ul>
                                                        <li>
                                                            <a href="tel:667-212-5286">(667) 212 - 5286</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="footer_column right">
                            <div class="frow justify-between">
                                <div class="links_group">
                                    <div class="footer_alpha_title">
                                        gwcc links
                                    </div>

                                    <div class="frow justify-start">
                                        <ul class="footer_menu">
                                            <li>
                                                <a href="{{ site.baseurl }}/discover">Discover</a>
                                            </li>
                                            <li>
                                                <a href="{{ site.baseurl }}/programs">Programs</a>
                                            </li>
                                            <li>
                                                <a href="{{ site.baseurl }}/community">Community</a>
                                            </li>
                                            <li>
                                                <a href="{{ site.baseurl }}/highlights">Highlights</a>
                                            </li>

                                            <li>
                                                <a class="typeform-share link" href="https://gwcc.typeform.com/to/zPthAI" data-mode="drawer_right" target="_blank">
                                                Volunteer
                                                </a> <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
                                            </li>
                                            <li>
                                                <a href="https://www.google.com/maps/dir//1634+Guilford+Ave,+Baltimore,+MD+21202/@39.3086914,-76.6147125,17z/data=!4m17!1m7!3m6!1s0x89c804eb578362c1:0xee9b7a61c419df67!2s1634+Guilford+Ave,+Baltimore,+MD+21202!3b1!8m2!3d39.3086873!4d-76.6125238!4m8!1m0!1m5!1m1!1s0x89c804eb578362c1:0xee9b7a61c419df67!2m2!1d-76.6125238!2d39.3086873!3e3">Directions</a>
                                            </li>

                                        </ul>
                                        <ul class="footer_menu">
                                            <li>
                                                <a href="{{ site.baseurl }}/computers-and-library">Digital Lab</a>
                                            </li>
                                            <li>
                                                <a href="{{ site.baseurl }}/calendar">Calendar</a>
                                            </li>
                                            <li>
                                                <a href="{{ site.baseurl }}/history">History</a>
                                            </li>
                                            <li>
                                                <a href="{{ site.baseurl }}/people/staff/">People</a>
                                            </li>
                                            <li>
                                                <a href="{{ site.baseurl }}/policy">Policy</a>
                                            </li>

                                            <li>
                                                <a href="{{ site.baseurl }}/donate">Donate</a>
                                            </li>
                                        </ul>

                                    </div>
                                </div>
                                <div class="social">
                                    <div class="social_title">
                                        Connect With Us
                                    </div>
                                    <div class="social_group">
                                        <ul>
                                            <li>
                                                <a href="http://www.facebook.com/{{ site.facebook }}"><i class="fab fa-facebook-f fa-2x"></i></a>
                                            </li>
                                            <li>
                                                <a href="http://www.twitter.com/{{ site.twitter }}"><i class="fab fa-twitter fa-2x"></i></a>
                                            </li>
                                            <li>
                                                <a href="http://www.youtube.com/user/{{ site.youtube }}"><i class="fab fa-youtube fa-2x"></i></a>
                                            </li>
                                            <li>
                                                <a href="http://www.instagram.com/{{ site.instagram }}"><i class="fab fa-instagram fa-2x"></i></a>
                                            </li>
                                            <li>
                                                <a href="mailto:{{ site.email }}"><i class="far fa-envelope fa-2x"></i></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="footer_newsletter">
                                        <!-- Begin MailChimp Signup Form -->
                                        <link href="http://cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
                                        <link href="https://fonts.googleapis.com/css?family=Muli:900" rel="stylesheet">
                                        <style type="text/css">
                                        	#mc_embed_signup {
                                                background:#47E7CE;
                                                clear:left;
                                                font:14px Muli,Arial,sans-serif;
                                                font-weight: 900;
                                            }
                                            #mc_embed_signup label {
                                                text-transform: uppercase;
                                                color: #000;
                                                margin-bottom: 0;
                                                text-align: center;
                                                font-weight: 900;
                                                font-size: 14px;
                                                cursor: none;
                                            }
                                            #mc_embed_signup input.email {
                                                width: 77%;
                                                border-radius: 0;
                                                border-color: #000;
                                                display: inline-block;
                                                background: transparent;
                                                min-height: 38px;
                                                outline: none;
                                                color: #000;
                                                /* max-width: 235px; */
                                            }
                                            #mc_embed_signup input.email[placeholder] {
                                                color: #000;
                                            }
                                            #mc_embed_signup input.button {
                                                width: 38px;
                                                height: 38px;
                                                min-width: auto;
                                                color: #000;
                                                background-color: transparent;
                                                border-radius: 50%;
                                                border: 2px solid #000;
                                                display: inline-block;
                                            }
                                            #mc_embed_signup input.button:hover {
                                                background-color: #000;
                                                color: #fff;
                                            }

                                            @media screen and (min-width:768px) {
                                                #mc_embed_signup form {
                                                    padding:0;
                                                }
                                                #mc_embed_signup label {
                                                    text-align: left;
                                                    padding-bottom: 10px;
                                                }
                                                .submit_icon {
                                                    display: inline-block;
                                                    padding-left: 10px;
                                                    width: 25%;
                                                }
                                                #mc_embed_signup input.email {
                                                    width: 70%;
                                                }
                                            }

                                        	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                                        	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                                        </style>
                                        <div id="mc_embed_signup">
                                        <form action="https://greenmountwestcc.us17.list-manage.com/subscribe/post?u=6e4d0339f828827deeeff0a3e&amp;id=5b0bf33c19" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                            <div id="mc_embed_signup_scroll">
                                        	<label for="mce-EMAIL">Sign up to GWCC Newsletter</label>
                                        	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
                                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_6e4d0339f828827deeeff0a3e_5b0bf33c19" tabindex="-1" value=""></div>
                                            <div class="clear submit_icon"><input type="submit" value="➜" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                                            </div>
                                        </form>
                                        </div>

                                        <!--End mc_embed_signup-->
                                    </div>
                                    <div class="footer_nonprofit">
                                        <div class="message">
                                            GWCC is a registered 501(c)-3 nonprofit, status is pending.  All donations are tax-deductible.
                                        </div>

                                        <a class="donate_btn" href="/donate"><div>
                                            Donate
                                        </div></a>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </section>

</div>
<div class="site_footer_mini">
    <div class="frow justify-end">
        <div class="backtotop">
            <a href="#top">
                <div class="icon">
                    <img src="/assets/img/backtop.png" />
                </div>
                <div class="icon_text">
                    Back to<br />top
                </div>
            </a>
        </div>
        <div class="copyright">
            <div>
                &copy; 2018. All Rights Reserved
            </div>
        </div>

    </div>
</div>
</footer>
<!-- Javascript CDN -->

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.2/modernizr.js"></script>

{% if page.vimeo_video == true %}
    {% include gwcc_video.js %}
{% endif %}

<!-- Vendor Scripts -->
<script type="text/javascript" src="/slick/slick.min.js"></script>
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.7.9/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Scroll Reveal -->
<script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
<script>
    window.sr = ScrollReveal();
    sr.reveal('.js_scroll_reveal', {
        reset: true,
        duration: 900
    });
    sr.reveal('.js_home', {
        reset: true,
        opacity: 0.5,
        duration: 700,
        easing: 'ease-in-out'
    });
    sr.reveal('.js_programs_overlay', {
        duration: 1000
    });
    sr.reveal('.js_discover_reveal', {
        reset: false,
        easing: 'ease-in',
        duration: 700
    });
</script>

<!-- Scripts -->
<script type="text/javascript" src="/js/main.js"></script>
