// Back to top
.backtop {
    margin: 0px auto;
}

// Preloader
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/assets/img/Preloader.gif) center no-repeat #fff;
}

// Textured Background
.textured_bg {
    @extend %texture_background;
}
