// Back to top
.backtop {
    margin: 0px auto;
}

// Preloader
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/assets/img/Preloader.gif) center no-repeat #fff;
}


// Page Masthead
.page_masthead {
	background-size: auto;
	background-repeat: repeat;
}
// -- Page Header
.page_header_content {
	padding-top: 50px;
	padding-bottom: 25px;
}
.page_title_content {
	margin: 0 auto 40px;
	width: 100%;

	@include palm {
		margin: 0 0 40px;
	}
	@include desktop {
		margin: 0 0 100px;
	}

	.circle {
		border-radius: 50%;
		display: inline-block;
		height: 75px;
		width: 75px;

		@include desktop {
			height: 100px;
			width: 100px;
		}
	}
	.page_title {
		display: inline-block;
		font-family: $font-1;
		font-size: 40px;
		font-weight: $muli-black;
		margin-left: -45px;
		margin-top: 15px;
		text-transform: uppercase;
		vertical-align: top;

		@include desktop {
			font-size: 50px;
			margin-top: 20px;
		}
	}
}

// Video Background
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  object-fit: cover;
}

// Highlight Short Content
.highlight_short {
    .highlight_short_title {
        font-family: $font-1;
        font-size: 20px;
        font-weight: $muli-black;
        line-height: 25px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .icon_copper {
        margin-bottom: 30px;

        .icon_copper_text {
            display: inline-block;
            width: 80%;

            @include laptop {
                max-width: 320px;
                line-height: 1.4;
            }
        }
        .icon_copper_textbig {
            @extend .icon_copper_text;

            @include laptop {
                font-size: 20px;
            }
        }
        .icon_copper_title {
            font-size: 16px;
            font-weight: $font-bold;
            margin-bottom: 8px;
            text-transform: uppercase;

            @include tablet {
                font-size: 18px;
            }
        }
        .icon_copper_img {
            float: left;
            padding-right: 10px;
        }
    }
}

// Newsletter
.newsletter_title {
    @include laptop {
        font-size: 24px !important;
        line-height: 1.2 !important;
    }
}

// Programs Content
.programs_content {
    background: $lightgrey;
    padding: 50px !important;

    .program_item {
        margin-bottom: 50px;

        @include tablet {
            width: 45%;
        }
        @include laptop {
            margin-bottom: 75px;
        }
    }
    .programs_title {
        font-family: $font-1;
        font-size: 36px;
        font-weight: $muli-black;
        margin-bottom: 10px;

        @include laptop {
            font-size: 50px;
        }
    }
    .programs_group {
        font-family: $font-1;
        font-size: 20px;
        font-weight: $muli-black;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .programs_text {
        font-size: 18px;
        line-height: 26px;

        @include tablet {
            height: 125px;
        }
        @include laptop {
            font-size: 22px;
            line-height: 34px;
            height: 175px;
        }
    }
}

// Bronzey - Full Width Video
.bronzey {
    background-image: url('/assets/img/learn_gwcc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    transition: 0.5s;
    width: 100vw;

    @include desktop {
        height: 75vh;
    }

    .bronzey_alpha {
        color: $white;
        font-size: 20px;
        letter-spacing: 1.5px;
        margin-top: 35px;
        text-transform: uppercase;
        text-shadow: 1px 1px #484646;

        @include tablet {
            font-size: 24px;
        }
        @include desktop {
            font-weight: bold;
        }
    }
    .bronzey_play {
        text-align: center;
    }
}

// Full-width Image + Color Overlays
.mission_group {
    @extend %bg_props;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    vertical-align: top;
}

.color_overlay:before{
  @include color_overlay($orange, 0.6);
}
.dark_overlay:before{
    @include color_overlay($darkgray, 0.65);
}

// Overlay Hacks
.mission_group *,
.discover_prime_image *,
.history_group *,
.highlight_video * {
    position: relative;
}



// Accordion
.accordion_meta {
    @extend .history_meta;

    @include desktop {
        max-width: 1000px !important;
        margin: 100px 0 100px 100px;
    }
}

// Pagination
.pagination_wrapper {
    margin: 50px 25px;

    a {
        text-decoration: none;

        div {
            color: $black;
            font-size: 18px;
            font-family: $font-1;
            font-weight: $muli-black;
            text-transform: uppercase;

            &:hover {
                color: $bluegreen;
            }
        }


    }
    .next_post_group {
        margin: 50px 0 25px;
        position: relative;

        @include tablet {
            max-width: 475px;
        }

        .next_post {
            font-size: 22px;
            font-weight: $muli-black;
            font-family: $font-1;
            background: $white;
            padding: 20px;
            border: 5px solid $bluegreen;
            line-height: 1.2;

            @include tablet {
                font-size: 24px;
                padding: 30px;
            }
        }
        .next_post_bottom {
            position: absolute;
            top: 0.25em;
            left: 0.25em;
            background: $bluegreen;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
    }
}

// Give
.give_meta {
    width:90%;
    margin:auto;
}
.give_quote_group {
    position: relative;
    margin: 50px 0 75px;

    @include tablet {
        max-width: 600px;
        margin: 50px auto 75px;
    }

    @include laptop {
        max-width: 750px;
    }

    @include desktop {
        margin: 100px auto;
    }

    @include widescreen {
        max-width: 900px;
    }

    .give_quote {
        font-size: 20px;
        font-family: $font-1;
        font-weight: $muli-black;
        border: 4px solid $bluegreen;
        padding: 15px;
        background: $white;
        line-height: 1.2;

        @include tablet {
            font-size: 32px;
            padding: 35px;
        }
        @include widescreen {
            font-size: 36px;
        }
    }
    .author {
        font-size: 14px;
        padding-top: 25px;
        text-align: right;

        @include tablet {
            padding-top: 35px;
            font-size: 18px;
        }

        @include tv {
            font-size: 22px;
        }
    }
    .highlight_quote_bottom {
        position: absolute;
        top: 0.25em;
        left: 0.25em;
        width: 100%;
        height: 100%;
        background: $bluegreen;
        z-index: -1;
    }
}
.give_alt_group {
    margin: 150px 15px !important;

    @include small {
        margin: 150px auto !important;
    }
    @include laptop {
        max-width: 750px !important;
    }
    @include desktop {
        max-width: 950px !important;
    }
    @include tv {
        max-width: 1050px !important;
    }

    .give_alt_single {
        @include laptop {
            width: 45% !important;
        }
        @include desktop {

        }
        // @include tv {
        //     width: 37% !important;
        // }
    }
}

// Community
.category_group {
    margin-bottom: 75px;
}
.category_title {
    font-family: $font-1;
    font-weight: $muli-black;
    margin-bottom: 30px;
    font-size: 22px;
    color: $bluegreen;

    @include tablet {
        font-size: 26px;
    }
    @include tv {
        font-size: 32px;
    }
}
.section_group {
    width: 100%;
    margin-bottom: 25px;

    @include palm {
        width: 46%;
        margin-right: 15px;
    }

    @include tablet {
        margin-bottom: 50px;
        max-width: 250px;
        margin-right: 50px;
    }

    @include laptop {
        margin-right: 30px;
    }
    @include desktop {
        max-width: 225px;
    }
    @include tv {
        margin-right: 50px;
        max-width: 275px;
    }
}
.section_title {
    font-family: $font-1;
    font-weight: $muli-black;
    padding-bottom: 5px;
    font-size: 18px;

    @include tablet {
        font-size: 20px;
    }
    @include tv {
        font-size: 24px;
    }
}
.section_location {
    font-size: 18px;
    margin-bottom: 3px;

    @include tablet {
        font-size: 20px;
    }

    @include tv {
        font-size: 24px;
    }
}
.section_url {
    font-weight: $muli-black;
    font-family: $font-1;

    @include tablet {
        font-size: 18px;
    }

    a {
        color: $bluegreen;

        &:hover {
            border-bottom: 3px solid;
            padding-bottom: 2px;
        }
    }
}
