// Back to top
.backtop {
    margin: 0px auto;
}

// Preloader
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/assets/img/Preloader.gif) center no-repeat #fff;
}

// Video Background
#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  z-index: -100;
  object-fit: cover;
}

// Highlight Short Content
.highlight_short {
    .highlight_short_title {
        font-family: $font-1;
        font-size: 20px;
        font-weight: $muli-black;
        line-height: 25px;
        margin-bottom: 15px;
        text-transform: uppercase;
    }
    .icon_copper {
        margin-bottom: 30px;

        .icon_copper_text {
            display: inline-block;
            width: 80%;

            @include laptop {
                max-width: 320px;
                line-height: 1.4;
            }
        }
        .icon_copper_textbig {
            @extend .icon_copper_text;

            @include laptop {
                font-size: 20px;
            }
        }
        .icon_copper_title {
            font-size: 16px;
            font-weight: $font-bold;
            margin-bottom: 8px;
            text-transform: uppercase;

            @include tablet {
                font-size: 18px;
            }
        }
        .icon_copper_img {
            float: left;
            padding-right: 10px;
        }
    }
}

// Newsletter
.newsletter_title {
    @include laptop {
        font-size: 24px !important;
        line-height: 1.2 !important;
    }
}

// Programs Content
.programs_content {
    background: $lightgrey;
    padding: 50px !important;

    .program_item {
        margin-bottom: 50px;

        @include tablet {
            width: 45%;
        }
        @include laptop {
            margin-bottom: 75px;
        }
    }
    .programs_title {
        font-family: $font-1;
        font-size: 36px;
        font-weight: $muli-black;
        margin-bottom: 10px;

        @include laptop {
            font-size: 50px;
        }
    }
    .programs_group {
        font-family: $font-1;
        font-size: 20px;
        font-weight: $muli-black;
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .programs_text {
        font-size: 18px;
        line-height: 26px;

        @include tablet {
            height: 125px;
        }
        @include laptop {
            font-size: 22px;
            line-height: 34px;
            height: 175px;
        }
    }
}

// Bronzey - Full Width Video
.bronzey {
    background-image: url('/assets/img/learn_gwcc.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 70vh;
    left: 50%;
    margin-left: -50vw;
    position: relative;
    transition: 0.5s;
    width: 100vw;

    @include desktop {
        height: 75vh;
    }

    .bronzey_alpha {
        color: $white;
        font-size: 20px;
        letter-spacing: 1.5px;
        margin-top: 35px;
        text-transform: uppercase;
        text-shadow: 1px 1px #484646;

        @include tablet {
            font-size: 24px;
        }
        @include desktop {
            font-weight: bold;
        }
    }
    .bronzey_play {
        text-align: center;
    }
}

// Full-width Image + Color Overlays
.mission_group {
    @extend %bg_props;
    width: 100%;
    height: auto;
    display: block;
    position: relative;
    vertical-align: top;
}

.color_overlay:before{
  @include color_overlay($orange, 0.45);
}

// Overlay Hacks
.mission_group *,
.discover_prime_image *,
.history_group * {
    position: relative;
}

// History
.history_group {
    @extend .mission_group;
    height: 60vh;

    @include palm {
        height: 75vh;
    }
}
.history_meta {
    margin: 50px 15px;

    @include small {
        margin: 75px 20px;
    }

    @include palm {
        margin: 75px 50px;
    }

    @include laptop {
        margin: 100px 50px;
    }

    @include desktop {
        max-width: 1000px;
        margin: 100px auto;
    }

    @include tv {
        max-width: 1200px;
    }

    .history_title {
        font-size: 24px;
        font-family: $font-1;
        font-weight: $muli-black;
        line-height: 1.2;
        margin-bottom: 30px;

        @include tablet {
            font-size: 30px;
        }

        @include laptop {
            font-size: 36px;
            margin-bottom: 50px;
        }
    }
    .history_summary {
        font-size: 18px;
        line-height: 1.4;

        @include tablet {
            font-size: 20px;
        }
        @include laptop {
            font-size: 22px;
        }

        p {
            margin-bottom: 30px;
        }
    }
}

// Accordion
.accordion_meta {
    @extend .history_meta;

    @include desktop {
        max-width: 1000px !important;
        margin: 100px 0 100px 100px;
    }
}

// Pagination
.pagination_wrapper {
    margin: 50px 25px;

    a {
        color: $black;
        text-decoration: none;

        div {
            color: $black;
            font-size: 18px;
            font-family: $font-1;
            font-weight: $muli-black;
            text-transform: uppercase;

            &:hover {
                color: $bluegreen;
            }
        }

        &:hover {
            color: $bluegreen;
        }
    }
    .next_post_group {
        margin: 50px 0 25px;
        position: relative;

        .next_post {
            font-size: 22px;
            font-weight: $muli-black;
            font-family: $font-1;
            background: $white;
            padding: 20px;
            border: 5px solid $bluegreen;
        }
        .next_post_bottom {
            position: absolute;
            top: 0.25em;
            left: 0.25em;
            background: $bluegreen;
            height: 100%;
            width: 100%;
            z-index: -1;
        }
    }
}
