---
layout: bronze
---
<div class="calendar_title_wrapper">
    <div class="calendar_subtitle">
        Check below to keep up with all the activities happening in and around the Greenmount West Community Center.
    </div>
</div>
<div class="discover_grid">
    <div data-tockify-component="calendar" data-tockify-calendar="gwccbaltimore"></div>
    <script data-cfasync="false" data-tockify-script="embed" src="https://public.tockify.com/browser/embed.js"></script>
    <!-- <br/>

    </br/>
    <iframe src="https://calendar.google.com/calendar/embed?src=montier.kess%40gmail.com&ctz=America%2FNew_York" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe> -->
</div>
