<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
  	    <div class="se-pre-con"></div>

        <section class="textured_bg">
            {% include grid/page_header.html %}

            <div class="discover_grid">
                <div class="donate_meta">

                    <div class="donate_intro_content">
                        <div class="donate_title">
                            Give the Greatest Gift to a Thriving Community Organization
                        </div>
                        <div class="donate_summary">
                            <p>GWCC relies on people like you to help us provide programming, events, workshops, after-school snacks and more. Volunteering your time, monetary donations and providing program support moves our mission forward. GWCC needs you!</p> <p>GWCC is powered by community support, and there are multiple ways to get involved. Make a one-time donation or become a monthly, quarterly or annual donor.</p>
                        </div>
                    </div>

                    <div class="donate_mid_content">
                        <div class="donate_header">
                            Select donation amount
                        </div>
                        <div class="donate_amount_wrapper">
                            <ul class="donate_items_list" id="donate">
                                <div class="frow justify-between">
                                    <li><a href="https://www.paypal.me/gwccbmore/25" class="brand_cta_v2 donate_group_btn"><div>$25</div></a></li>
                                    <li><a href="https://www.paypal.me/gwccbmore/50" class="brand_cta_v2 donate_group_btn"><div>$50</div></a></li>
                                    <li><a href="https://www.paypal.me/gwccbmore/100" class="brand_cta_v2 donate_group_btn"><div>$100</div></a></li>
                                    <li><a href="https://www.paypal.me/gwccbmore/250" class="brand_cta_v2 donate_group_btn"><div>$250</div></a></li>
                                    <li><a href="https://www.paypal.me/gwccbmore/500" class="brand_cta_v2 donate_group_btn"><div>$500</div></a></li>
                                    <li><a href="https://www.paypal.me/gwccbmore/1000" class="brand_cta_v2 donate_group_btn"><div>$1000</div></a></li>
                                    <li><a href="https://www.paypal.me/gwccbmore/1500" class="brand_cta_v2 donate_group_btn"><div>$1500</div></a></li>
                                    <li><a href="https://www.paypal.me/gwccbmore/2500" class="brand_cta_v2 donate_group_btn"><div>$2500</div></a></li>
                                    <li><a href="https://www.paypal.me/gwccbmore/5000" class="brand_cta_v2 donate_group_btn"><div>$5000</div></a></li>
                                </div>
                            </ul>
                        </div>
                    </div><!-- donate_mid_content -->
                    <div class="donate_mid_content">
                        <div class="donate_header">
                            To make a donation by check, please call the community center or send us an email
                        </div>
                        <div class="donate_contact">
                            <div class="frow justify-between">
                                <a href="tel:6672125286" class="donate_cta"><div>
                                    + Call the Center
                                </div></a>
                                <a href="mailto:admin@greenmountwestcc.org" class="donate_cta"><div>
                                    + Email Us
                                </div></a>
                            </div>
                        </div>
                    </div><!-- donate_mid_content -->
                </div>
            </div><!-- discover_grid -->

            {% include grid/footer.html %}
        </section>



    </body>

</html>
