<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
  	    <div class="se-pre-con"></div>

        <div class="page_masthead">
            {% include header.html %}
            {% include page_header.html %}
        </div>

        <div class="discover_grid">
            <div class="programs_group">
                <div class="frow justify-between">
                    <div class="programs_menu">
                        <ul>
                            {% if page.url == "/programs/" %}
                            <li class="active">
                                <a href="{{ site.baseurl }}/programs">Overview</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ site.baseurl }}/programs">Overview</a>
                            </li>
                            {% endif %}
                            {% for item in site.programs %}
                            {% if page.url == item.url %}
                            <li class="active">
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="programs_content_group">
                        {% unless page.title == "Programs" %}
                        <div class="programs_content_meta">
                            <div class="programs_alpha_group">
                                <div class="programs_content_alpha" style="background-image:url('/assets/img/gwcc_programs_overview.jpg');"></div>
                                <div class="programs_content_beta">
                                    <div class="programs_beta_title">
                                        {{ page.title }}
                                    </div>
                                    <div class="programs_beta_details">
                                        <div class="programs_beta_single">
                                            <span class="icon"><img src="/assets/img/icon_clock_white.png" /></span>
                                            <div class="meta_details">
                                                {{ page.days }}<br/>
                                                {{ page.time }}
                                            </div>
                                        </div>
                                        <div class="programs_beta_single">
                                            <span class="icon"><img src="/assets/img/icon_adult_child.png" /></span>
                                            <div class="meta_details">
                                                {{ page.audience }}
                                            </div>
                                        </div>
                                        <div class="programs_beta_single">
                                            <div class="programs_beta_description">
                                                {{ page.description }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="programs_instructors_group">
                                <div class="instructors_title-group">
                                    <div class="instructors_title">
                                        {{ page.title }} Instructors
                                    </div>
                                    <div class="instructors_title_bottom">
                                    </div>
                                </div>

                                <div class="frow justify-start">
                                    <div class="instructors_single">
                                        <div class="frow justify-between">
                                            <div class="instructors_avatar_group">
                                                <div class="instructors_avatar" style="background-image:url('{{ page.instructor1_avatar }}');">

                                                </div>
                                                <div class="instructors_avatar_bottom">

                                                </div>
                                            </div>
                                            <div class="instructor_meta">
                                                <div class="instructors_name">
                                                    {{ page.instructor1_name }}
                                                </div>
                                                <div class="instructors_summary">
                                                    {{ page.instructor1_description }}
                                                </div>
                                                <div>
                                                    <a class="brand_cta_v2" href="{{ page.instructor1_url }}">
                                                        <div>
                                                            + External Link
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if page.instructor2_name %}
                                    <div class="instructors_single">
                                        <div class="frow justify-between">
                                            <div class="instructors_avatar_group">
                                                <div class="instructors_avatar" style="background-image:url('{{ page.instructor2_avatar }}');">

                                                </div>
                                                <div class="instructors_avatar_bottom">

                                                </div>
                                            </div>
                                            <div class="instructor_meta">
                                                <div class="instructors_name">
                                                    {{ page.instructor2_name }}
                                                </div>
                                                <div class="instructors_summary">
                                                    {{ page.instructor2_description }}
                                                </div>
                                                <div>
                                                    <a class="brand_cta_v2" href="{{ page.instructor2_url }}">
                                                        <div>
                                                            + External Link
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endunless %}
                        {% if page.title == "Programs" %}
                        <div class="programs_body">
                            <p>
                                Air plant distillery shaman, VHS salvia knausgaard tacos pour-over mlkshk hell of umami taiyaki kale chips fam letterpress. Letterpress dreamcatcher flannel, put a bird on it tote bag vexillologist four loko aesthetic tattooed echo park selvage.
                            </p>
                            <p>
                                Activated charcoal tote bag la croix adaptogen shoreditch, air plant williamsburg meh chambray vexillologist +1 raclette hot chicken semiotics health goth. Small batch kombucha vexillologist, fanny pack twee flexitarian art party cred. Fingerstache cold-pressed prism cray, ethical vexillologist beard post-ironic la croix occupy locavore.
                            </p>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>




        {% include footer_test.html %}


  </body>

</html>
