<!DOCTYPE html>
<html>

    {% include head.html %}

    <body>
  	    <div class="se-pre-con"></div>

        <div class="page_masthead">
            {% include header.html %}
            {% include page_header.html %}
        </div>

        <div class="discover_grid">
            <div class="programs_group">
                <div class="frow justify-between">
                    <div class="programs_menu">
                        <ul>
                            {% if page.url == "/programs/" %}
                            <li class="active">
                                <a href="{{ site.baseurl }}/programs">Overview</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ site.baseurl }}/programs">Overview</a>
                            </li>
                            {% endif %}
                            {% for item in site.programs %}
                            {% if page.url == item.url %}
                            <li class="active">
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </li>
                            {% else %}
                            <li>
                                <a href="{{ item.url }}">{{ item.title }}</a>
                            </li>
                            {% endif %}
                            {% endfor %}
                        </ul>
                    </div>

                    <div class="programs_content_group">
                        {% unless page.title == "Programs" %}
                        <div class="programs_content_meta">
                            <div class="programs_alpha_group">
                                <div class="programs_content_alpha" style="background-image:url('/assets/img/gwcc_programs_overview.jpg');"></div>
                                <div class="programs_content_beta">
                                    <div class="programs_beta_title">
                                        {{ page.title }}
                                    </div>
                                    <div class="programs_beta_details">
                                        <div class="programs_beta_single">
                                            <span class="icon"><img src="/assets/img/icon_clock_white.png" /></span>
                                            <div class="meta_details">
                                                {{ page.days }}<br/>
                                                {{ page.time }}
                                            </div>
                                        </div>
                                        <div class="programs_beta_single">
                                            <span class="icon"><img src="/assets/img/icon_adult_child.png" /></span>
                                            <div class="meta_details">
                                                {{ page.audience }}
                                            </div>
                                        </div>
                                        <div class="programs_beta_single">
                                            <div class="programs_beta_description">
                                                {{ page.description }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="programs_instructors_group">
                                <div class="instructors_title-group">
                                    <div class="instructors_title">
                                        {{ page.title }} Instructors
                                    </div>
                                    <div class="instructors_title_bottom">
                                    </div>
                                </div>

                                <div class="frow justify-start">
                                    <div class="instructors_single">
                                        <div class="frow justify-between">
                                            <div class="instructors_avatar_group">
                                                <div class="instructors_avatar" style="background-image:url('{{ page.instructor1_avatar }}');">

                                                </div>
                                                <div class="instructors_avatar_bottom">

                                                </div>
                                            </div>
                                            <div class="instructor_meta">
                                                <div class="instructors_name">
                                                    {{ page.instructor1_name }}
                                                </div>
                                                <div class="instructors_summary">
                                                    {{ page.instructor1_description }}
                                                </div>
                                                <div>
                                                    <a class="brand_cta_v2" href="{{ page.instructor1_url }}">
                                                        <div>
                                                            + External Link
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if page.instructor2_name %}
                                    <div class="instructors_single">
                                        <div class="frow justify-between">
                                            <div class="instructors_avatar_group">
                                                <div class="instructors_avatar" style="background-image:url('{{ page.instructor2_avatar }}');">

                                                </div>
                                                <div class="instructors_avatar_bottom">

                                                </div>
                                            </div>
                                            <div class="instructor_meta">
                                                <div class="instructors_name">
                                                    {{ page.instructor2_name }}
                                                </div>
                                                <div class="instructors_summary">
                                                    {{ page.instructor2_description }}
                                                </div>
                                                <div>
                                                    <a class="brand_cta_v2" href="{{ page.instructor2_url }}">
                                                        <div>
                                                            + External Link
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endunless %}
                        {% if page.title == "Programs" %}
                        <div class="programs_body">
                            <div class="overview_title">
                                Programming Overview
                            </div>
                            <p>
                                The Greenmount West Community Center (GWCC) seeks to provide a safe and secure environment that can lead to positive outcomes for all who live in Greenmount West. The GWCC is also committed to ensuring that the youth living in Greenmount West and the surrounding communities have the opportunity to develop self-confidence, self-esteem, and do well in school so that they can grow to be self-sufficient and successful in society.
                            </p>

                            <p>
                                The Greenmount West Community Center, will offer computer classes and wellness classes for adults, after-school and summer programs designed to help children build leadership skills, earn good grades, and learn sufficiency skills, while gaining exposure to positive role models. These programs include:
                            </p>

                            <ul class="programs_list">
                                <li>
                                    <span>Academic Strengthening</span>  <div>
                                        retired schoolteachers, librarians, and other community volunteers will provide academic tutoring sessions for small groups throughout the school year.
                                    </div>
                                </li>
                                <li>
                                    <span>Business Skills for Self-Sufficiency/Young Entrepreneurs</span>
                                    <div>
                                        a program that teaches administrative and business skills to youth through experiential learning under the guidance of a well-trained adult, volunteer, small business owner. Youth will start and run a business, with the profits from the business being reinvested in the program and small stipends for youth involved
                                    </div>
                                </li>
                                <li>
                                    <span>STEM (Science Technology Education & Math</span>
                                    <div>
                                        hands-on work in a wide range of STEM subjects, such as programming, engineering, science, digital arts, and game design. Youth will learn the fundamental concepts and skills that are beyond what is taught in schools.
                                    </div>
                                </li>
                                <li>
                                    <span>Performing Arts Program</span>
                                    <div>
                                        Photography, dance, music, art, theater, and creative writing classes will be offered to youth providing structured learning and performance opportunities that encourage collaboration with other youth and community service through free performances.
                                    </div>
                                </li>
                                <!-- <li>
                                    Programming Commences:
                                    October-May for After School programming
                                    June to Labor Day for Summer programming
                                </li> -->
                            </ul>

                            <div class="programs_small_title">Programming Commences:</div>

                            <div class="programs_small_text">
                                After School Programming &mdash; October to May
                            </div>
                            <div class="programs_small_text">
                                Summer Programming &mdash; June to Labor Day
                            </div>
                        </div>
                        {% endif %}
                    </div>

                </div>
            </div>
        </div>




        {% include footer_test.html %}


  </body>

</html>
